doctype html
html
  include includes/head.pug
  title Server Levels | wushi
  body
    nav.navbar.has-shadow.is-spaced(role="navigation", aria-label="main navigation")
      div.container.is-fluid.is-navbar
        a.navbar-brand(href="/", style="margin-right: 8px")
            figure(class="image is-48x48")
                img(class="image is-48x48", src="/assets/sushi.png")  
        a.navbar-burger(role="button", data-target="navbar", aria-label="menu", aria-expanded="false")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")    
        div.navbar-menu.is-active(id="navbar")
          div.navbar-start
              a.navbar-item(href="/invite") <i class="fas fa-user-plus"></i>&nbsp;Invite
              a.navbar-item(href="https://docs.wushibot.xyz") <i class="fas fa-book"></i>&nbsp;Documentation
          div.navbar-end
              a.navbar-item.is-light.button(href="https://github.com/xMinota/wushi", style="margin-right: 8px") <i class="fab fa-github-alt"></i>&nbsp;GitHub
              a.navbar-item.is-primary.button(href="https://discord.gg/C7Ke4Ss") <i class="fab fa-discord"></i>&nbsp;Support Server
    
    div(align="center")
      section.hero.is-small.is-primary.is-bold
        .hero-body
          .container
            figure(class="image is-128x128 animated pulse")
                img(class="image is-128x128", src="/assets/sushi.png") 
      
      br
      .container
        .box
          h1.title Levels of all users in <a>#{serverName}</a>
          h2.subtitle Scroll down below to see more.
          hr 
          div.container
            - var amt = 1;
            
              each user in users
                div.box.container(align="center")
                  article.media
                    figure.media-left
                      p.image.is-64x64 
                        img(src=user.avatar)
                    figure.media-content
                      h1.subtitle(style="margin-top:16px;") &nbsp;<strong>##{amt++}</strong> <a>#{user.username}</a> | <strong>Level:</strong> #{user.level} | <strong>EXP:</strong> #{user.exp} / #{user.expNeeded}
      br

  footer.footer
    div(align="center")
      div.container
        p <strong><a href="https://github.com/xMinota">Minota</a></strong> © 2020 