doctype html
html
  include includes/head.pug
  title Settings | wushi
  body
    nav.navbar.has-shadow.is-spaced(role="navigation", aria-label="main navigation")
      div.container.is-fluid.is-navbar
        a.navbar-brand(href="/", style="margin-right: 8px")
            figure(class="image is-48x48")
                img(class="image is-48x48", src="/assets/sushi.png")  
        a.navbar-burger(role="button", data-target="navbar", aria-label="menu", aria-expanded="false")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")    
        div.navbar-menu.is-active(id="navbar")
          div.navbar-start
              a.navbar-item(href="/invite") <i class="fas fa-user-plus"></i>&nbsp;Invite
              a.navbar-item(href="https://docs.wushibot.xyz") <i class="fas fa-book"></i>&nbsp;Documentation
              a.navbar-item(href="/variables") <i class="fas fa-tag"></i>&nbsp;Variables
          div.navbar-end
            a.navbar-item.button.is-link.has-badge-rounded(href="/dashboard", data-badge="New!", style="margin-right: 8px") <i class="fas fa-satellite-dish"></i>&nbsp;Dashboard
              a.navbar-item.is-light.button(href="https://github.com/xMinota/wushi", style="margin-right: 8px") <i class="fab fa-github-alt"></i>&nbsp;GitHub
              a.navbar-item.is-primary.button(href="https://discord.gg/zwmqwjrxR9") <i class="fab fa-discord"></i>&nbsp;Support Server
    
    div(align="center")
      section.hero.is-small.is-primary.is-bold
        .hero-body
          .container
            figure(class="image is-128x128 animated pulse")
                img(class="image is-128x128", src="/assets/sushi.png") 
            br
            h1.title Settings for #{name}
            h2.subtitle Customize the bot in that server via this panel.
    
    
      br
      if error_messages != ""
        div.container
            div.notification.is-danger
                p <strong>Error:</strong> #{error_messages}
      if success_messages != ""
        div.container
            div.notification.is-success
                p <strong>Success:</strong> #{success_messages}

    
      nav.breadcrumb.is-centered.has-arrow-separator(aria-label="breadcrumbs")
        ul
          li <a href="/"> Home</a>
          li <a href="/dashboard"> Dashboard</a>
          li.is-active(aria-current="page") <a href="#"> #{name}</a>
      .container
        .box
          .container
            form(method="POST", action="/dashboard/" + id)
              p Change your prefix here!
              br
              div.field
                  p.control
                      input(class="input is-rounded", for="inputPrefix", type="text", name="prefix", value=prefix, placeholder="New prefix")
              hr
              p Change your level up message here!
              br
              div.field
                  p.control
                      input(class="input is-rounded", for="inputLvlUpMsg", type="text", name="levelUpMessage", value=lvlMsg, placeholder="New level up message")
              br
              div(align="center")
                  input(class="button is-success is-medium is-rounded", type="submit", value="Save Changes") 

  br
  footer.footer
    div(align="center")
      div.container
        p <strong><a href="https://github.com/xMinota">Minota</a></strong> © 2020         